/* Body and overall styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f5e1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container styling */
.container {
    background-color: #d0b08c;
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Heading styling */
h1 {
    color: #634c26;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Form styling */
#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* File input styling */
.file-label {
    background-color: #634c26;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px; /* Added margin to separate buttons */
}

.file-label:hover {
    background-color: #463818;
}

#imageInput {
    display: none;
}

/* Button styling */
.perform-ocr-button, .file-label {
    background-color: #634c26;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.perform-ocr-button:hover, .file-label:hover {
    background-color: #463818;
}

/* Result styling */
.result-text {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #634c26;
}
