body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the viewport height */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    flex: 1; /* Allow main content to expand and fill the remaining space */
    padding: 2rem;
}

.document-section {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document {
    background-color: #f8f8f8;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


p {
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin-top: auto; 
}

.upload-section {
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.file-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #444;
}
