body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F5EFE1; /* Light brown background */
}

header {
    background-color: #634E32; /* Brown background */
    color: #fff;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    flex: 1;
    padding: 2rem;
    background-color: #F5EFE1; /* Light brown background */
}

.document-section {
    background-color: #D4B996; /* Light brown background */
    padding: 1rem;
    border: 1px solid #C0A084; /* Brownish border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document {
    background-color: #F0E6D1; /* Beige background */
    padding: 1rem;
    border: 1px solid #D4B996; /* Light brown border */
    border-radius: 4px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

footer {
    background-color: #634E32; /* Brown background */
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin-top: auto;
}

.upload-section {
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.file-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #634E32; /* Brown background */
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #543C28; /* Darker brown on hover */
}

.translated-text-section {
    background-color: #D4B996; /* Light brown background */
    padding: 1rem;
    border: 1px solid #C0A084; /* Brownish border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #634E32; /* Brown background */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #F0E6D1; /* Beige on hover */
}

/* Additional CSS for centering and styling the sections */
section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F0E6D1; /* Beige background */
    border: 1px solid #D4B996; /* Light brown border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section1 {
    text-align: center;
}

h1, h2, p {
    font-family: 'Libre Baskerville', serif;
}
